h1{
    color: blue;
    text-align: left;
}

/*table {*/
/*    border-collapse: collapse;*/
/*}*/
table, th, td{
  border: 1px solid black;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}